<phpunit bootstrap="tests/config/TestConfig.php">
    <colors>true</colors>
    <beStrictAboutTodoAnnotatedTests>true</beStrictAboutTodoAnnotatedTests>
    <testsuites>
        <testsuite name="Authentication">
            <directory>tests/Auth</directory>
        </testsuite>

        <testsuite name="Management">
            <directory>tests/Mgmt</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <!--可以定义多个 对./app下的业务代码做覆盖率统计-->
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <groups>
        <!-- <include>
            <group>test</group>
        </include> -->
        <exclude>
            <group>notest</group>
        </exclude>
    </groups>
    <logging>
        <!--覆盖率报告生成类型和输出目录 lowUpperBound低覆盖率阈值 highLowerBound高覆盖率阈值-->
        <log type="coverage-html" target="tests/reports" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>